################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Music_Reactive_Desk_Light/.vs/Music_Reactive_Desk_Light/v16
